@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;800&display=swap");

*{
    margin: 0;
    padding: 0%;
}

:root{
    --colorfirst: #209623;
    --colorsecond: #ffffff;
    --fontglobal: "Sarabun", sans-serif;
}

main{
    margin: 10px 20%;
}

/* Navigation bar settings */
nav{
    background-color: var(--colorfirst);
    position: relative;
    overflow: hidden;
    text-align: center;
}

nav a{
    color: var(--colorsecond);
    font-size: 30px;
    font-family: var(--fontglobal);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
}

nav a:hover{
    background-color: var(--colorsecond);
    color: var(--colorfirst);
    transition: 0.3s ease-in-out;
}

nav a:active{
    background-color: var(--colorfirst);
    color: var(--colorsecond);
}

.nav-center li{
    display: inline-block;
    vertical-align: middle;
    text-align: left; 
    padding: 10px;
}

.banner{
    width: 100%;
    margin: 10px 0;
}

#logo{
    display: block;
    width: 250px;
    
    border-radius: 30px;
    border: solid var(--colorfirst) 3px;
    padding: 10px;
    margin: 15px auto;
}

h1{
    font-size: 40px;
    font-family: var(--fontglobal);
    font-weight: 800;
    text-align: left;
    text-indent: 100px;
    /* text-transform: uppercase; */
    padding: 10px 0;
}

p{
    font-size: 25px;
    font-family: var(--fontglobal);
    text-align: justify;
    text-indent: 100px;
    line-height: 1.5;
}

.info-world-pharmacy{
    color: var(--colorfirst);
}



/* Footer settings */
footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0;
    margin-top: 20px; /**The distance between footer and the upper objects */
    width: 100%;
    background-color: var(--colorfirst);
}

footer p{
    font-family: var(--fontglobal);
    font-size: 20px;
    text-align: center;
    text-transform: none;
    color: var(--colorsecond);
    padding: 3px;
}

