<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <img class="banner" src="../../assets/media/images/big-banner.jpg" alt="banner Info World Pharmacy">
    <main class="container">
        <section>
            <h1 class="info-world-pharmacy">About The Info World Pharmacy</h1>
            <p> Info World Pharmacy is a healthcare profession that involves the preparation, dispensing, and appropriate use of medication. Pharmacists are highly trained healthcare professionals who work closely with physicians, nurses, and other healthcare professionals to ensure that patients receive the most appropriate and effective medication therapies.</p>
            <p> In addition to dispensing medication, pharmacists also play an important role in patient care. They work with patients to ensure that they understand how to take their medication, monitor patients for potential drug interactions and side effects, and provide counseling on topics such as disease prevention, medication adherence, and healthy lifestyle habits.</p>
            <p>Our pharmacy practice also encompasses a range of specialized areas, such as compounding (the preparation of customized medication formulations), oncology (the treatment of cancer), and geriatric pharmacy (the management of medication use in elderly patients).</p>
            <p>Overall, the goal of pharmacy practice is to optimize medication therapy and improve patient health outcomes through a collaborative approach with other healthcare providers.</p>
        </section>
        <picture> <img id="logo" src="../../assets/media/images/logo.png" alt="The logo of the website"> </picture>
        <section>
            <h1 class="info-world-pharmacy">The Goals of Our Pharmacy</h1>
            <p>Info World Pharmacy is a community-based pharmacy dedicated to promoting health and wellness through personalized care and education. Our team of highly trained pharmacists and staff are committed to providing exceptional service to every patient who walks through our doors.</p>
            <p>We believe that a healthy lifestyle starts with the proper use of medication and supplements, and we strive to educate our patients on the benefits of incorporating natural remedies into their daily routines. Our pharmacy carries a wide selection of vitamins, herbs, and supplements, as well as prescription medication to meet all of our patients' needs.</p>
            <p>At this pharmacy, we understand that every patient has unique healthcare needs, which is why we take the time to get to know our patients on a personal level. Our pharmacists are always available to answer any questions or concerns that our patients may have, and we work closely with healthcare providers to ensure that our patients receive the most effective treatment plans possible.</p>
            <p>We also offer a range of additional services, including medication therapy management, immunizations, and health screenings, to help our patients stay healthy and achieve their healthcare goals.</p>
            <p>Here, at Info World Phamacy, our goal is to provide exceptional care and personalized attention to every patient who entrusts us with their healthcare needs. We are proud to be a part of the community and look forward to serving our patients for years to come.</p>
        </section>
    </main>
    <footer>
        <p>Project realized in March 2023 for Info World Internship - Prioteasa Cristian-Victor</p>
    </footer>
</body>
</html>
