<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
  <h3>Table of Orders</h3>
    <table class="table table-hover table-striped" >
        <thead>
          <tr>
            <th scope="col">ID Order</th>
            <th scope="col">Name of Patience</th>
            <th scope="col">Address</th>
            <th scope="col">Name of Medicine</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let order of collection">
            <td>{{order.id_order}}</td>
            <td>{{order.name_of_patience}}</td>
            <td>{{order.address}}</td>
            <td>{{order.name_of_medicine}}</td>
            <td>{{order.description}}</td>
            <td>{{order.quantity}}</td>
            <td>
              <i (click)="deleteOrder(order.id_order)" id="trash"
                  class="fa fa-trash" style="font-size:30px;color:red;"></i>
            </td>
          </tr>
        </tbody>
      </table>
</div>

</body>
</html>
